body{background-color:pink;border:2px;}

p{color: green;font-family: Arial;}

h1{color: purple; font-family:Aharoni;}

h3 {color: blue; font-family:Garamond;}

ul{
list-style-type: lower-roman;
color: yellow;
font-family:"Iskoola Pota";
}

hr.style-three {
height: 30px;
border-style: solid;
border-color: black;
border-width: 1px 0 0 0;
border-radius: 20px;
}
hr.style-three:before {
display: block;
content: "";
height: 30px;
margin-top: -31px;
border-style: solid;
border-color: black;
border-width: 0 0 1px 0;
border-radius: 20px;
}

table {
font-family:Arial;
background-color:green;
color: red;
}
